<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Freexen Assist</title>
    <!-- Load external CSS from /static/hex.css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='hex.css') }}">
	<link rel="preload" href="/static/fonts/Bravura.otf" as="font" type="font/otf" crossorigin>
	<link rel="preload" href="/static/fonts/BravuraText.otf" as="font" type="font/otf" crossorigin>
</head>
<body>
    <!-- Toggle Button -->
    <button id="toggle-menu">Scale</button>
	
	<!-- Toggle Switch for pitch class view -->
	<div id="pitchClass-switch-container" title="Toggle Note/Pitch class view">
	  <label class="switch">
		<input type="checkbox" id="pitchClassSwitch">
		<span class="slider round"></span>
	  </label>
	</div>
	
	<!-- Toggle Switch for interval view -->
	<div id="interval-switch-container" title="Toggle Absolute/Interval view">
	  <label class="switch">
		<input type="checkbox" id="intervalSwitch">
		<span class="slider round"></span>
	  </label>
	</div>

    <!-- Overlay Menu -->
    <div id="menu-overlay">
        <ul>
            {% for item in menu_items %}
                <li>{{ item[1] }}</li>
            {% endfor %}
        </ul>
    </div>

    <!-- Load Socket.IO client library from CDN -->
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
	
    <!-- Load external JS from /static/main.js -->
    <script type="module" src="{{ url_for('static', filename='main.js') }}"></script>
	
	<script type="importmap">
	{
	  "imports": {
		"three": "https://unpkg.com/three@latest/build/three.module.js"
	  }
	}
	</script>

	<!-- Import your Three.js app code as a module -->
	<script type="module" src="{{ url_for('static', filename='scene.js') }}"></script>
	
	
	<!-- Bottom status bar -->
	<div id="status-bar">
	  <div id="status-bar-text"></div>
	</div>

</body>
</html>
